@import "../main.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
  background-image: linear-gradient(#ffffff05 20%, transparent);
  z-index: 100;
  position: relative;
  padding-top: 128px;
  padding-bottom: 0px;

  &-logo {
    position: absolute;
    left: calc(50% - 372px);

    
    &-title {
      @media screen and (max-width: 1024px) {
        margin-left: 0;
      }
      margin-left: 416px;
      font-size: 48px;
      font-weight: 900;
      margin-bottom: 6px;

      color: white;

      img {
        width: 104px;
        margin-bottom: -42px;
        margin-right: -14px;
        margin-left: -48px;
        border-radius: 3px;
      }
    }
  }
  &-scroll-button {
  }
  &-download-button {
  }
}
